.costume-ideas-wrapper
    @media (max-width: 6in)
        margin: 3em
    margin: 5em
    position: fixed
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px

.costume-ideas
    article
        width: 100%
        height: 100%
        overflow-y: scroll
        -webkit-overflow-scrolling: touch
        padding-left: 0.5em
        padding-right: .5em
        padding-top: 1em
        padding-bottom: 1em

.costume-ideas-list
    &.loading
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    padding-top: 3em
    .monster
        margin: .2em
        font-size: 24px

    .item
        position: relative

        aside
            display: inline
            padding-left: 1em
            padding-right: 1em
            background-color: white
            border: 1px solid grey
            border-radius: 1em
            z-depth(1)

            font-size: 14px
            position: absolute
            bottom: 0px
            right: 10px
            text-align: left


/*
.costume-ideas-list
    .item
        cursor: pointer
        padding: 10px
        font-size: 24px
        position: relative

        aside
            display: inline
            */
