
@font-face
    font-family: 'germsmonsters';
    src: url('/fonts/germs-webfont.eot');
    src: url('/fonts/germs-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/germs-webfont.woff2') format('woff2'),
         url('/fonts/germs-webfont.woff') format('woff'),
         url('/fonts/germs-webfont.ttf') format('truetype'),
         url('/fonts/germs-webfont.svg#germsmonsters') format('svg');
    font-weight: normal;
    font-style: normal;

.details
    display: block
    padding: 1em
    border-radius: 1em
    background-color: #eee
    text-align: center
    width: 6in

    h1
        font-family: germsmonsters
        font-size: 4em
        letter-spacing: 0.2em
