
.details-wrapper
    width: 6in
    height: 4in

.details
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column


    header
        margin-bottom: 1.5em
        padding: 0

    footer
        margin-top: 1.5em
        padding: 0

    h1
        font-weight: normal
        font-family: germsmonsters
        font-size: 3.8em
        letter-spacing: 0.2em
        margin: 0em
        line-height: 1em

    h2
        font-family: 'Helvetica Neue'
        font-weight: 100
        font-size: 1.5em
        margin: 0em
        margin-bottom: 1em

    p
        margin: 0em
        font-family: 'Helvetica Neue'
        font-weight: 200
