@import 'material-shadows'

.invitation-wrapper
  background: repeating-linear-gradient(
    45deg,
    #53195f,
    #53195f 25px,
    #ff7a00 25px,
    #ff7a00 50px
  )
  background-repeat: no-repeat
  background-size: cover

  padding: 3em
  z-depth(1)
  margin: 3em

.invitation
  padding: 1em
  background-color: #ffffff
  z-depth(2)
