@import 'material-shadows'

.invitation-wrapper
  background: repeating-linear-gradient(
    45deg,
    #53195f,
    #53195f 25px,
    #ff7a00 25px,
    #ff7a00 50px
  )
  background-repeat: no-repeat
  background-size: cover
  border-radius: 1em
  width: 7in

  padding: 3em
  z-depth(1)
  margin: 3em

.invitation
  padding: 0em
  background-image: url(/images/paper.png)
  background-color: #ffffff
  z-depth(4)
  border-radius: 0.5em
  overflow: hidden
  margin: 0
  border: 2px solid #eee

  width: 100%
