@import 'normalize'
@import 'helper'
@import 'invitation'
@import 'details'
@import 'costume-ideas'
@import 'editor'


/* variables */
$lightgrey = #999
$linkColor = lighten(#53195f, 15%)
$grey = #eee
$black = #333
$white = #f7f7f7

html
button
input
select
textarea
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5
  background-image: url(/images/stardust.png)

.content
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0

.has-error
    border: 1px solid red
    &:after
        display: block
        content: 'monster required'
        color: red

.page
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%

.invitation-page
    .scroll-affordance
        cursor: pointer
        position: fixed
        left: 0
        bottom: 2em
        width: 100%

.details-page
    .scroll-affordance
        cursor: pointer
        position: fixed
        left: 0
        top: 2em
        width: 100%

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}



.Section
    > * > *
        margin: 0 auto

footer
  color:$black
  padding: 1em

  nav
    display: flex
    flex-direction: row
    justify-content: center
    user-select:none

  .nav-item
    padding: 0.2em
    border-radius: 0.3em
    font-size: 1.2em

    a.active
      text-decoration:underline

    &:after
      padding: 0.2em
      margin-left: 0.5em
      content: '|'

    &:last-child:after
      content: ''

@font-face
    font-family: 'monsters';
    src: url('/fonts/monsters.eot');
    src: url('/fonts/monsters.eot?#iefix') format('embedded-opentype'),
         url('/fonts/monsters.woff2') format('woff2'),
         url('/fonts/monsters.woff') format('woff'),
         url('/fonts/monsters.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

@font-face
    font-family: 'germsmonsters';
    src: url('/fonts/germs-webfont.eot');
    src: url('/fonts/germs-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/germs-webfont.woff2') format('woff2'),
         url('/fonts/germs-webfont.woff') format('woff'),
         url('/fonts/germs-webfont.ttf') format('truetype'),
         url('/fonts/germs-webfont.svg#germsmonsters') format('svg');
    font-weight: normal;
    font-style: normal;


.no-select
    user-select: none
    cursor: normal

.material-depth
    padding: 1em
    width: 110px
    height: 110px
    background-color: cyan
    border-radius: 110px
    display: flex
    align-items: center
    justify-content: center


.border-box-wrapper
    border-radius: 1em
    background: repeating-linear-gradient(
      135deg,
      #ff7a00,
      #ff7a00 25px,
      #53195f 25px,
      #53195f 50px
    )
    padding: .6em

    z-depth(1)

    > *
        background-image: url(/images/paper.png)
        width: 100%
        height: 100%
        border-radius: 1em
        z-depth(1)

    &.thick
        @media (min-width: 6in)
            padding: 3em

        background: repeating-linear-gradient(
          45deg,
          #53195f,
          #53195f 25px,
          #ff7a00 25px,
          #ff7a00 50px
        )

        > *
          border: 0.3em solid #eee
          z-depth(4)
          overflow: hidden

    header.ribbon-header
        position: absolute
        top: 28px
        left: -20px

        .text
            font-size: 1.2em
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            font-family: 'Kaushan Script', cursive;
            color: #53195f

        .add-button
            font-size: 90%
            background: white
            border-radius: 23px
            height: 24px
            width: 24px
            display: flex
            align-items: center
            justify-content: center
            margin: 5px
            margin-left: 10px
            cursor: pointer
            &:hover
                z-depth(1)
            span
                color: #ff7a00
                margin-left: -1px
                padding-top: 3px

/* ribbon style */

.ribbon-wrapper {
	position: relative;
	border-top: 0px solid #ccc;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
.ribbon-front {
	background-color: #43FFF3;	height: 40px;
	width: 160px;
	position: relative;
	left:-20px;
	z-index: 2;
}

.ribbon-front,
.ribbon-back-left,
.ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

.ribbon-edge-topleft,
.ribbon-edge-topright {
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
	top: 40px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #99c transparent transparent;
}

.ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
.ribbon-edge-bottomleft {
	border-width: 0 20px 10px 0;
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
	left: 140px;
	border-color: transparent transparent transparent #99c;
}

.ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
.ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

.ribbon-back-left {
	position: absolute;
	top: 10px;
	left: -30px;
	width: 30px;
	height: 40px;
	background-color: #43fff3;	z-index: 0;
}

.ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}
