@import 'normalize'
@import 'helper'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea
  color: $black
  height: 100%

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5
  position: fixed
  top: 0
  bottom: 0
  background: repeating-linear-gradient(
    45deg,
    #53195f,
    #53195f 25px,
    #ff7a00 25px,
    #ff7a00 50px
  )
  background-repeat: no-repeat
  background-size: cover
  height: 100%
  width: 100%



header
  color:$black
  padding: 1em

  nav
    float:right
    user-select:none

  .nav-item
    float:left
    margin-left:.5em

    a.active
      text-decoration:underline

.content
  padding: 1em
