@import 'normalize'
@import 'helper'
@import 'invitation'
@import 'details'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5
  background-image: url(/images/stardust.png)


.Section
    > * > *
        margin: 0 auto

footer
  color:$black
  padding: 1em

  nav
    display: flex
    flex-direction: row
    justify-content: center
    user-select:none

  .nav-item
    padding: 0.2em
    border-radius: 0.3em
    font-size: 1.2em

    a.active
      text-decoration:underline

    &:after
      padding: 0.2em
      margin-left: 0.5em
      content: '|'

    &:last-child:after
      content: ''

.content
  padding: 1em

@font-face
    font-family: 'monsters';
    src: url('/fonts/monsters.eot');
    src: url('/fonts/monsters.eot?#iefix') format('embedded-opentype'),
         url('/fonts/monsters.woff2') format('woff2'),
         url('/fonts/monsters.woff') format('woff'),
         url('/fonts/monsters.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

.monsters-typeface
    font-family: 'monsters'
    font-size: 10px
    letter-spacing: -1px
    line-height: 100%
    margin: 0px
    text-align: left
