.moon-loader
  display: inline-block
  width: 60px
  height: 60px
  border: 7px solid rgba(0, 0, 0, 0.1)
  border-top-color: #53195f
  border-radius: 50%
  animation: moon-spin 0.6s linear infinite

@keyframes moon-spin
  to
    transform: rotate(360deg)
